.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    flex-basis: calc((100% - 180px) / 6);
    margin-left: 30px;
    margin-top: 30px;
  }

  &__company-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--icon-fill-color);
    border: 1px solid var(--icon-fill-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }
  }
}

.company-logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
