.portfolio-modal-btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 0 22px;
  color: var(--titles-color);
  background: var(--button-background-color);
  border-radius: 4px;
  list-style: none;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--titles-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
    }
  }

  &__link {
    display: block;
  }
}

.project-list-content {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;

  .project-list__link:hover &,
  .project-list__link:focus & {
    transform: translateY(0%);
  }
}
