// .our-team {
//   background: var(--button-background-color);
// }

// .our-team-list {
//   display: flex;
//   margin-left: -30px;
//   margin-top: -30px;

//   &__item {
//     flex-basis: calc((100%-120px) / 4);
//     margin-left: 30px;
//     margin-top: 30px;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     background: var(--secondary-text-color);
//   }

//   &__content {
//     padding: 30px 30px;
//     padding-left: 32px;
//     padding-right: 32px;
//   }
// }

.team-member {
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--titles-color);
  }

  &__position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;
  }
}
