@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #ffffff;

    &__container {
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 25px;
    }

    &__close-btn {
      position: absolute;
      top: 10px;
      right: 0;
      border: none;
      background-color: transparent;
      padding: 0;

      &:hover,
      &:focus {
        color: #2196f3;
      }
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__nav {
      margin-bottom: 302px;
    }

    &__item:not(:last-child) {
      padding-bottom: 32px;

      &:hover,
      &:focus {
        color: #2196f3;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: #212121;

      //   &:hover,
      &:focus {
        color: #2196f3;
      }
    }

    &__contacts {
      margin-bottom: 64px;
    }

    &__contacts-item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__contacts-link {
      font-weight: 500;
      letter-spacing: 0.02em;
    }

    &__contacts-tel {
      font-size: 34px;
      line-height: 1.18;
      color: #2196f3;
    }

    &__contacts-mail {
      font-weight: 500;
      line-height: 1.17;
      color: #757575;
    }

    &__social {
      display: flex;
      align-items: center;
    }

    &__social-item:not(:last-child) {
      margin-right: 10px;

      &::after {
        content: "";
        width: 22px;
        height: 0px;
        margin-left: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }

    &__social-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: #2196f3;
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
