.modal-form-head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--titles-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-checkbox:focus + & {
    border-color: var(--accent-color);
  }

  .modal-form-checkbox:checked + & {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-color: var(--accent-color);
    border-radius: 2px;
  }
}

.modal-form-checkbox-policy {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 0px 55px;
  margin-top: 30px;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
