.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-fill-color);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--secondary-text-color);
  }
}

.social-media {
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
