:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --titles-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --footer-bacground-color: #2f303a;
  --border-color: #eeeeee;
  --icon-fill-color: #afb1b8;
}
